<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="rangeOfPorts" value="20100, 20101, 20102, 20103, 20104, 20105, 20106, 20107, 20108, 20109"/>
    <add key="timeToLiveInHrs" value="24"/>
    <add key="periodOfSamplesInMS" value="1000"/>
    <add key="numberOfSamples" value="100"/>
  </appSettings>
</configuration>